*
{
    text-align: center;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}

body
{
    display: flex;
}

header
{
    background-color: black;
    color:white;
    flex: 1 0 20%;                    
    text-align: center;         
}

nav
{
    background-color: red;
    color:white;
    flex: 3 0 80%;                   
    text-align: center;         
}

#hero
{
    background-color: blue;
    color:white;
    text-align: center;
    padding: 120px;
}

#bloque2
{
    display: flex;
}

main
{
    background-color: darkslategrey;
    color:white;
    padding: 80px;
    flex: 2;   
}

#flex_columna
{
    flex-direction: column;
    flex: 1
}

#image
{
    background-color: grey;
    flex: 1;
    padding: 40px;
}

#extra
{
    background-color: aqua;
    flex: 1; 
    padding: 40px;
}

#banner
{
    background-color: yellow;
    padding: 30px;
}

/* --------------------------------------------------------------------------- */

@media (max-width: 400px) 
{
    *
{
    text-align: center;
    font-size: 20px;
}

header
{
    background-color: black;
    color:white;
    flex-direction: column;                 
    text-align: center;         
}

nav
{
    background-color: red;
    color:white;
}

#hero
{
    background-color: blue;
    color:white;
    padding: 60px;
}

main
{
    background-color: darkslategrey;
    color:white;
    padding: 50px;
}       

#image
{
    background-color: grey;
}

#extra
{
    background-color: aqua;
}   

#banner
{
    background-color: yellow;
}
}