header{
  background: #0b0f1a;
  padding: 12px 16px;
}

nav ul{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1700px;
  display: flex;
  align-items: center;
  gap: 16px;
}

nav ul h1{
  margin: 0;
  margin-right: auto;
  font-size: 35px;
  font-weight: 800;
  color: #ffffff;
}

nav li{ 
  margin: 0; 
}

nav a{
  color: #e5e7eb;
  text-decoration: none;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 20px;
}

nav a:hover{
  color: #f6ff00;
}

nav button{
  background: red;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  margin-left: 470px;
}

nav button:hover{
  background: rgb(255, 100, 100);
}

#pelicula_principal {
  position: relative;
  text-align: center;
  width: 100%;
}

#fondo_pelicula {
  width: 100%;
  height: auto;
  display: block;
}

#contenido_pelicula {
  position: absolute;
  top: 330px;
  left: 730px;
  z-index: 0;
  text-align: center;
  color: white;
}

#imagen_estrellas {
  width: 250px;
  display: block;
  margin: -30px auto 340px;
}

#pelicula_principal h2 {
  margin: 10px 0;
  font-size: 30px;
  color: white;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 18px;
} 

.botones button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.botones button:hover {
  background-color: rgb(255, 100, 100);
}

#titulo_bloque2{
  text-align: center;
  margin-top: 50px;
  color: black;
  font-size: 36px;
}

#contenedor 
{
  display: flex;
  justify-content: center;   
  align-items: flex-start;      
  gap: 20px;
  margin: 0;
  padding: 40px 0;
  background-color: white;
  width: 100%;               
}

#contenedor img {
  width: 200px;         
  height: 300px;         
  display: block;
  margin: 0 auto 10px;  
}

#contenedor a {
  text-decoration: none;
  color: black;
}

#pelicula1, #pelicula2, #pelicula3, #pelicula4, #pelicula5 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    padding: 30px 20px;
    text-align: center;
    flex: 1 1 300px;
    margin: 0 15px; 
}

#titulo1,#titulo2,#titulo3,#titulo4,#titulo5
{
    font-size: 25px;
}

footer{
  background: #0b0f1a;        
  padding: 16px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

footer a{
  color: #e5e7eb;            
  text-decoration: none;
  font-size: 28px;            
  line-height: 1;
}

footer a:hover{
  color: #f6ff00;            
}
