header{
    background: #0b0f1a;
    padding: 12px 16px;
    }

nav ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1700px;
    display: flex;
    align-items: center;
    gap: 16px;
    }

nav ul h1{
    margin: 0;
    margin-right: auto;
    font-size: 35px;
    font-weight: 800;
    color: #ffffff;
    }

nav li{ 
    margin: 0; 
    }

nav a{
    color: #e5e7eb;
    text-decoration: none;
    padding: 6px 8px;
    font-weight: 500;
    font-size: 20px;
}

nav a:hover{
    color: #f6ff00;
}

nav button{
    background: red;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    margin-left: 470px;
    }

nav button:hover{
    background: rgb(255, 100, 100);
    }

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
}

#pelicula{
  max-width: 1200px;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#titulo{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}


#contenido_pelicula{
  display: flex;
  gap: 32px;
  align-items: flex-start;
  flex-wrap: wrap;
}

#poster{
  flex: 1;
  max-width: 215px; 
  height: 100%;
}

#poster img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


#info{
  flex: 1;
}


#info h1{
  font-size: 22px;
  margin: 10px 0 4px;
}


#info p{
  margin: 0 0 10px;
  line-height: 1.5;
  font-size: 16px;
}


#trailer{
  margin-top: 30px;
}

#trailer iframe{
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}


