@font-face {
    font-family: 'Mi fuente';
    src: url(./font/ElmsSans-Regular.ttf);
}

body
{
    font-family: 'Mi fuente';
    position: static;
}

#contenedor_principal
{
    width: 100%;
    height: 100%;
}

nav ul
{
    position: static;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1700px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "img DAWBruch home food about contact";
}

nav img
{
    width: 50px;         

}

#hero 
{
  width: 100%;
  height: auto;
  display: block;
}

#contenido_hero 
{
  position: absolute;
  top: 600px;
  left: 700px;
  z-index: 0;
  text-align: center;
  color: white;
}

#contenido_hero h2
{
    font-size: 100px;
}

#contenido_hero a
{
    border: none;
    border-radius: 50px;
    background-color: rgb(233, 173, 63);
    padding: 25px 70px;
    font-size: 20px;
    text-decoration: none;
    color: white    ;
}

#contenido  
{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img1 img2 img3 "
    "img4 img4 img5";   
    width: 100%;
    height: 100%;
    margin: 120px;
}

footer
{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    grid-template-areas: 
    "about sevilla malaga";
    padding: 15px;
    padding-left: 100px;
    padding-right: 70px;
    gap: 150px;
}

#sevilla
{
    text-align: right;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    color: #ffffff;
  }

  header {
    background-color: #000000;
  }

  a {
    color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }
}