/* ===============================
   GRID DE 4 TARJETAS
   =============================== */
.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* grid de 4 cards */
  gap: 20px;
}

/* ===============================
   TITULO
   =============================== */
h1{
  text-align: center
}


/* ===============================
   TARJETA
   =============================== */
.card{
  position: relative;
  height: 260px;
  overflow: hidden; /* para que el zoom no se salga */
}


/* ===============================
   IMAGEN DE FONDO
   - Blanco y negro por defecto
   =============================== */
.card-image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  filter: grayscale(100%); /* blanco y negro */
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover: zoom + vuelve el color */
.card:hover .card-image{
  transform: scale(1.1);     /* pequeño scale */
  filter: grayscale(0%);     /* vuelve a color */
}


/* ===============================
   OVERLAY TEXTO
   =============================== */
.card-overlay{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}


/* ===============================
   TÍTULO
   - Sube en hover
   =============================== */
.card-title{
  transition: transform 0.3s ease;
}

/* Subimos el título */
.card:hover .card-title{
  transform: translateY(-15px);
}


/* ===============================
   SUBTÍTULO
   - Oculto por defecto
   - Aparece en hover
   =============================== */
.card-subtitle{
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Aparece el subtítulo */
.card:hover .card-subtitle{
  opacity: 1;
  transform: translateY(0);
}


/* ===============================
   IMÁGENES DE FONDO
   =============================== */
.img-1 { background-image: url("./imagenes/Hamburguesa.jpg"); }
.img-2 { background-image: url("./imagenes/pizza.jpg"); }
.img-3 { background-image: url("./imagenes/kebab.jpg"); }
.img-4 { background-image: url("./imagenes/pollo_frito.jpeg"); }
